*{
    --color-primary: #4f46e5;
    --color-bg: lab(86.44% -20.07 78.96);
    --color-card: #ffffff;
    --color-text: #333;
    --color-high: #ef4444;
    --color-medium: #f59e0b;
    --color-low: #10b981;

    --font-main: 'Segoe UI', sans-serif;    

    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
}
   
/* Reset básico */

body {
    margin: 0;
    font-family: var(--font-main);
    background-color: lch(61.5% 67.75 41.74);
    color: white;
}       
/* Header */
.header {    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    color: white; 
    font-style:oblique;
    padding-top: 0dvb;
    border-style: double; 
    border-radius: 30px;
    font-size:x-large;
}
   /* Sidebar */

.sidebar {
    width: 150px;
    background-color: var(--color-primary);
    padding: var(--spacing-md);
    border-radius: 50px;
    border-style: double;
    color :white;       
} 


.container {
    background:var(--color-primary);    
    border-radius: 50px;    
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;    
    border-style:double;
    color: white;
    position: absolute;
    left:800px;    
    top:150px;  
    right:10px;  
}

/* Responsive */
@media (max-width: 768px) {
    .layout {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        box-shadow: none;
        border-bottom: 1px solid #ddd;
        
    }
.form {
    display: flex;
    gap: 10px;
}


.button {
        cursor: pointer; 
}

}